body {
  background-color: black;
  color: white;
  position: fixed;
  height: 100%;
  width: 100%
}
#popupBox {
  /*color: black;
  background-color: #ddd;*/
  color: white;
  background-color: black;
  border: solid 1px rgba(255,255,255,0.4);
  padding: 6px 0 6px 10px;
  font-size: 12px;
  /* line-height: 14px; */
  line-height: 22px;
  z-index: 15;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(255,255,255,0.5);
  display: none;
  position: absolute;
  width: 300px;
}
.title {
  font-size: 30px;
  font-family: Gilroy;
  text-align: center;
}
.left-side {
  background-color: transparent;
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 5;
    transition: 0.5s ease-in-out;
}
.right-side {
  right: -450px;
  background-color: transparent;
  position: absolute;
  top: 60px;
  z-index: 10;
  height: 90%;
  transition: 0.5s ease-in-out;
}
.left-panel {
  width: 380px;
  padding: 10px 0 10px 20px;
  border: 0.8px #ccc solid;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.7);
}
.right-panel {
  padding: 10px 0 10px 20px;
  border: 0.8px #ccc solid;
  border-radius: 10px;
  background-color: black;
  margin-left: 10px;
  position: relative;
  transition: 0.5s ease-in-out;
  background-color: rgba(0,0,0,1);
}
.panel-title {
  font-size: 20px;
  margin-bottom: 6px;
}
.panel-text {
  font-family: Microsoft YaHei UI;
  font-size: 12px;
  margin-bottom: 4px;
}
#tree-nav {
  height: 170px;
  width: 360px;
}
#color-legend {
  height: 90px;
  width: 360px;
  margin-bottom: 10px;
}
#radius-legend {
  height: 80px;
  width: 200px;
  margin: 10px 0 0 10px;
}
#radius-legend img {
  width: 100%;
}
#flicker-legend {
  height: 50px;
  width: 360px;
}
@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
  0%{
      transform: scale(1);  /*开始为原始大小*/
  }
  25%{
      transform: scale(0.4);
  }
  50%{
      transform: scale(1);
  }
  75%{
      transform: scale(0.4);
  }
}
.flicker{
  shape-rendering: crispEdges;
  margin: 15px 20px 0 20px;
  float: left;
  width: 20px;
  height: 20px;
  background-color: rgba(255,255,255,0.6);
  border: solid 0px rgba(255,255,255,0.6);
  border-radius: 50%;
  /*background-size: 150px 150px;*/
  -webkit-animation-name: scaleDraw; /*关键帧名称*/
  -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
  -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
  /*-webkit-animation-duration: 2s; 动画所花费的时间*/
}
.ring {
  float: left;
  border: solid 1px #fff;
  border-radius: 50%;
  shape-rendering: crispEdges;
}
.image-legend {
  width: 250px;
  padding: 10px 0 50px 0;
}
img{  
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#pos-legend {
  width: 140px;
  float: right;
}
.element:hover {
  cursor: pointer;
}

#empty-container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 80%;
  align-items: center;
  justify-content: center;
}
#empty-container img {
  opacity: .5;
  width: 150px;
}
#empty-container p {
  margin: 20px 0; 
  color: #999
}

.left-show__btn {
    position: absolute;
    left: 400px;
    transform: rotate(180deg);
    top: 46%;
}

.left-show__btn:hover {
  cursor: pointer;
}

.legend-text {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  width: 150px;
  text-align: center;
  margin-left: 6px;
}

#detail-legend__btn {
  font-size: 14px;
  display: none;
  float: right;
  margin-right: 40px;
}
#detail-legend__btn:hover {
  cursor: pointer;
}

p,h1 {
  margin: 2px;
  font-size: 14px;
}
#defaultCanvas0 {
 position: absolute;
 /* top: 800px; */
}
#selectBenefits {
 position: fixed;
 top: 220px;
 right: 200px;
}

#selectOptions {
 position: fixed;
 top: 280px;
 right: 200px;
}

#selectWellness {
 position: fixed;
 top: 340px;
 right: 200px;
}

#selectSeekHelp {
 position: fixed;
 top: 400px;
 right: 200px;
}

#selectAnonymity {
 position: fixed;
 top: 460px;
 right: 200px;
}

#selectLeave {
 position: fixed;
 top: 520px;
 right: 200px;
}

.right-desc__box {
 display: flex;
 height: 100%;
 width: 400px;
 flex-wrap: wrap;
 border: 1px #eee solid;
 background-color: rgba(0,0,0);
 /* background-color: #000; */
 border-radius: 20px;
 color: #fff
}

#svgContainer {
 display: none;
 height: 90%;
 overflow-y: scroll;
 overflow-x: hidden;
 transition: 0.5s ease-in-out;
}

#svgWrapper {
 margin-top: -50px;
}

.desc-box__title {
 padding: 10px 0 10px 20px;
 height: 5%;
}

.desc-box__title span {
  font-size: 14px;
 font-weight: 200;
}

.system {
 display: inline-block;
 position: relative;
 vertical-align: middle;
 width: 50px;
 height: 50px;
}

.planet {
 position: absolute;
 top: 0;
 left: 0;
 width: 50px;
 height: 50px;
 -moz-animation-name: rotate;
 -moz-animation-iteration-count: infinite;
 -moz-animation-timing-function: linear;
 -webkit-animation-name: rotate;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
 animation-name: rotate;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}

.slidedown {
 -moz-animation-name: slidedown;
 -moz-animation-iteration-count: 1;
 -moz-animation-timing-function: linear;
 -webkit-animation-name: slidedown;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-timing-function: linear;
 animation-name: slidedown;
 animation-iteration-count: 1;
 animation-timing-function: linear;
}

.close-icon {
  background-position:center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  cursor: pointer;
  /* position: absolute; */
  float: right;
  margin-right: 10px;
}

.detail-icon {
 background-image: url('img/arrow.svg');
 background-position:center;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 width: 25px;
 height: 25px;
 /*transition: 0.25s ease-in-out;*/
}

.drag-icon {
 background-image: url('img/drag-icon.png');
 background-position:center;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 width: 40px;
 height: 40px;
}

.lasso-icon {
 background-image: url('img/lasso-icon.png');
 background-position:center;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 width: 40px;
 height: 40px;
}

.interact-button {
 display: flex;
 flex-wrap: wrap;
 height: 60px;
 width: 50px;
 color: #fff;
 justify-content: center;
 cursor: pointer;
}

.right-side {
 display: flex;
}

.button-box {
 margin-right: 20px;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}



@-moz-keyframes slidedown {
 from { -moz-transform: translateY(0); }
 to { -moz-transform: translateY(-20); }
}

@-webkit-keyframes slidedown {
 from { -webkit-transform: translateY(0); }
 to { -webkit-transform: translateY(-20); }
}

@keyframes slidedown {
 from { transform: translateY(0); }
 to { transform: translateY(-20); }
}

.slider-interval {
 position: fixed;
 width: 300px;
 bottom: 30%;
 left: 30%
}

.move-state {
 cursor:move;
}

.sys__title {
 position: fixed;
 top: 5%;
 left: 50%;
 transform:  translateX(-50%);
 z-index: 5;
 color: #fff;
 font-size: 40px;
 font-weight: 200;
 white-space: nowrap;
}

.interaction-into {
 background-color: #fff;
 left: 50%;
 transform: translateX(-50%);
 border-radius: 20px;
 color: #000;
 position: fixed;
 top: 60px;
 z-index: 5;
 padding: 7px 20px;
 font-size: 12px;
 display: flex;
 align-items: center;
}

.triangle {
 width: 30px;
 height: 30px;
 position: fixed;
 left: 50%;
 transform: translateX(-50%) rotate(45deg);
 top: 50px;
 z-index: 5;
 background-color: #fff;
}

.size-sliderbar {
 position: fixed;
 bottom: 5%;
 left: 50%;
 /* width: 500px; */
 transform: translateX(-50%);
 z-index: 5;
}

.svg-tree {
 border: 0
}

.link {
 fill: none;
 stroke: #fff;
 stroke-width: 3px;
}