.element:hover {
    cursor: pointer;
}

.planet {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    -moz-animation-name: rotate;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
   